@model MSDCollegePali.Model.RegistrationModel
@{
    ViewData["Title"] = "StudentRegistration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@* <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Registration</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Registration</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div> *@
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Addmission Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Student Name</label>
                                <input asp-for="Name" class="form-control" id="ddlName" placeholder="Enter your name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlGender">Gender</label>
                                <select class="form-control" id="ddlGender">
                                    <option value="0">--select--</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <div class="input-group date" id="ddlDateofBirth" data-target-input="nearest">
                                    <input type="text" asp-for="DateofBirth" class="form-control datetimepicker-input" data-target="#ddlDateofBirth" id="ddlDateofBirth" placeholder="Enter date of birth" />
                                    <div class="input-group-append" data-target="#ddlDateofBirth" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlEmail">Email</label>
                                <input asp-for="Email" class="form-control" id="ddlEmail" placeholder="Enter your email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlMobileNo">MobileNo</label>
                                <input asp-for="MobileNo" class="form-control" id="ddlMobileNo" placeholder="Enter your mobile number" />
                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlEmail">Course</label>
                                <input asp-for="Email" class="form-control" id="ddlEmail" placeholder="Enter your email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlPassword">Admission Date</label>
                                <div class="input-group date" id="ddlDateofBirth" data-target-input="nearest">
                                    <input type="text" asp-for="DateofBirth" class="form-control datetimepicker-input" data-target="#ddlDateofBirth" id="ddlDateofBirth" placeholder="Enter admission date" />
                                    <div class="input-group-append" data-target="#ddlDateofBirth" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlCity">City</label>
                                <input asp-for="City" class="form-control" id="ddlCity" placeholder="Enter your city" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlState">State</label>
                                <input asp-for="State" class="form-control" id="ddlState" placeholder="Enter your state" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Address</label>
                                <input asp-for="Address" class="form-control" id="ddlAddress" placeholder="Enter your address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Pin Code</label>
                                <input type="email" class="form-control" id="ddlPinCode" placeholder="Enter name">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="button" id="ddlSaveUserDetails" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
</div>
<script src="~/msddashboard/customjs/registration.js"></script>
<script>
    $(document).ready(function () {
        $('#progressPopup').addClass('d-none');
        $('#ddlDateofBirth').datetimepicker({
           // format: 'L'
                format: 'DD/MM/YYYY'
        });
    });
</script>