@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/msddashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    @*  <link rel="stylesheet" href="~/msddashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/msddashboard/dist/css/adminlte.min.css"> *@
    <style>
        .full-background {
            position: relative;
            width: 100vw;
            /* height: 100vh; */
            overflow: hidden;
        }

            .full-background::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('/msd/sliderpic/baner9.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                filter: blur(2px);
                z-index: 0;
            }

            .full-background > .container {
                position: relative;
                z-index: 1; /* Keep content above the blurred background */
            }
    </style>

   
</head>
<body class="hold-transition login-page">

    <div class="container-fluid py-5 full-background">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6 text-center">
                                <div class="login-box">
                                    <!-- /.login-logo -->
                                <div class="card card-outline card-primary" style="box-shadow:2px 2px 4px 0px #ff3115">
                                    <div class="card-header text-center" style="background:#fbecec">
                                        <a href="#" class="h3" style="color:#ff3115"><b>Admin</b></a>
                                        </div>
                                        <div class="card-body">
                                            <p class="login-box-msg">Log In</p>

                                            <form action="../../index3.html" method="post">
                                                <div class="input-group mb-3">
                                                    <input type="email" class="form-control" placeholder="User Name">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" style="height:40px;">
                                                            <span class="fas fa-envelope"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3 py-3">
                                                    <input type="password" class="form-control" placeholder="Password">
                                                    <div class="input-group-append">
                                                    <div class="input-group-text" style="height:40px;">
                                                            <span class="fas fa-lock"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-right" style="text-align:left;">
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" id="remember">
                                                        <label for="remember">
                                                                Remember Me
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->
                                                    
                                                    <!-- /.col -->
                                                </div>
                                                <div class="row  py-4">
                                                <div class="col-12">
                                                    <button type="button" onclick="AdminLogin(this)" class="btn btn-primary btn-block txtbackground txtcolor border-0">Log In</button>
                                                </div>
                                                </div>
                                            </form>

                                            @* <div class="social-auth-links text-center mt-2 mb-3">
                                                <a href="#" class="btn btn-block btn-primary">
                                                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                                                </a>
                                                <a href="#" class="btn btn-block btn-danger">
                                                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                                                </a>
                                            </div> *@
                                            <!-- /.social-auth-links -->

                                            @* <p class="mb-1">
                                                <a href="forgot-password.html">I forgot my password</a>
                                            </p>
                                            <p class="mb-0">
                                                <a href="register.html" class="text-center">Register a new membership</a>
                                            </p> *@
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="col-lg-3"></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <script>
       function AdminLogin()
       {
           window.location.href = "/AdminDashboard/AdminDashboard";
       }
    </script>



    <!-- /.login-box -->
    <!-- jQuery -->
    @*  <script src="~/msddashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/msddashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/msddashboard/dist/js/adminlte.min.js"></script> *@
</body>
</html>


