
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->



<!-- OUR HISTORY Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/OUR HISTORY.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">OUR HISTORY</h6>
                @* <h1 class="mb-4">Welcome to eLEARNING</h1> *@
                @* <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p> *@
                <p class="mb-4">छत्रपति शिवाजी M.S.D. महाविद्यालय, पाली, ललितपुर में स्थित प्रसिद्ध डिग्री कॉलेज में से एक है, कॉलेज में स्नातक में सभी विषयों के प्रमुख कोर्स B.A. , B.Sc., M.A., नकल विहीन व शैक्षणिक वातावरण, छात्रों के लिए दिया गया है महाविद्यालय में विज्ञान और मनोविज्ञान प्रयोगशाला और कंप्यूटर प्रयोगशाला और पुस्तकालय की सुविधाएं छात्र छात्राओं को दी जाती हैं हमारे यहां स्मार्ट क्लासेस की भी सुविधा उपलब्ध है महाविद्यालय का परिसर प्रदूषण मुक्त और पर्यावरण अनुकूल है जहां छात्र छात्राओं को के लिए स्पोर्ट्स ग्राउंड की भी सुविधा उपलब्ध हैै</p>
                @* <div class="row gy-2 gx-4 mb-4"> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                @*     </div> *@
                @* </div> *@
                @* <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> *@
            </div>
        </div>
    </div>
</div>
<!-- OUR HISTORY End -->
<!-- Our Mission Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/OUR HISTORY.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Our Mission</h6>
                @* <h1 class="mb-4">Welcome to eLEARNING</h1> *@
                @* <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p> *@
                <p class="mb-4">महाविद्यालय अपने आदर्श वाक्य "आर्ट ऑफ लर्निंग" के साथ शिक्षा के क्षेत्र में समाज की सेवा कर रहा है। आज यह 'सीखने के भंडार' और ज्ञान, आत्म-खोज, मानवीय गरिमा और अखंडता को बढ़ावा देने के लिए समर्पित 'गुणवत्ता चेतना' के संरक्षक के रूप में खड़ा है।</p>
                <div class="row gy-2 gx-4 mb-4">
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                @*     </div> *@
                @* </div> *@
                @* <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> *@
            </div>
        </div>
    </div>
</div>
</div>
    <!-- Our Mission End -->
    <!-- OUR VISION Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/OUR VISION.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">OUR VISION</h6>
                @* <h1 class="mb-4">Welcome to eLEARNING</h1> *@
                @* <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p> *@
                    <p class="mb-4">हमारा दृष्टिकोण कक्षाओं और पाठ्यपुस्तकों की संकीर्ण दीवारों से परे देखना है और प्रत्येक छात्र को आज की चुनौतियों में महारत हासिल करने और आने वाले कल की दुनिया को आकार देने के लिए सशक्त बनाने के लिए लीक से हटकर सोच को बढ़ावा देना है।</p>
                <div class="row gy-2 gx-4 mb-4">
               
            </div>
        </div>
    </div>
</div>
</div>
<!-- OUR VISION End -->

