
@{
    ViewData["Title"] = "AcademicDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>AcademicDetails</h1> *@
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">
                    Academics
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Academic Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Recognition Details</h5>
                        <p>
                            <a href="~/msd/img/pdf/RECOGNITION-DETAIL.pdf" target="_blank" style="color: #333;">
                                Click here to view Recognition Details
                            </a>
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Institution Status</h5>
                        <p>
                            <a href="/msd/img/pdf/RECOGNITION-DETAIL.pdf" target="_blank" style="color: #333;">
                                Click here to view Institution Status
                            </a>
                        </p>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Library Details</h5>
                        <p>
                            <a href="/msd/img/pdf/LIBRARY-DITAIL.pdf" target="_blank" style="color: #333;">
                                Click here to view Library Details
                            </a>
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Lab Details</h5>
                        <p>
                            <a href="/msd/img/pdf/ANNUAL-INTAKE.pdf" target="_blank" style="color: #333;">
                                Click here to view Lab Details
                            </a>
                            </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Salary Statements</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view Salary Statements
                            </a>
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.11s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty Awards</h5>
                        <p>
                            <a href="/msd/img/pdf/faculties-award.pdf" target="_blank" style="color: #333;">
                                Click here to view Faculty Awards
                            </a>
                            </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.13s">
                @* <a href="images/pdf/INSTITUTION-STATUS.pdf" target="_blank" style="color: #333;"> *@
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* FDP Details</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view FDP Details
                                </a>
                            </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.15s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Land Affidavit</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view Land Affidavit
                            </a>
                            </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.17s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Instructional Facilities</h5>
                        <p>
                            <a href="/msd/img/pdf/INSTITUTE-faculties.pdf" target="_blank" style="color: #333;">
                                Click here to view Instructional Facilities
                            </a>
                            </p>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.19s">
               
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Main Balance Sheet</h5>
                        <p>
                            <a href="/msd/img/pdf/BLANCESHEET2081.pdf" target="_blank" style="color: #333;">
                                Click here to view Main Balance Sheet
                            </a>
                            </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.21s">
                
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Receipt & Payment 2021</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view Receipt & Payment 2021
                            </a>
                            </p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.23s">
               
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Income & Expenditure 2021</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view Income & Expenditure 2021
                            </a>
                            </p>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

