
@{
    ViewData["Title"] = "AcademicStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>AcademicStaff</h1> *@
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">
                    Teaching Staff
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Teaching Staff</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of B.A.</h5>
                        <p>
                            <a href="~/msd/img/pdf/RECOGNITION-DETAIL.pdf" target="_blank" style="color: #333;">
                                Click here to B.A.Faculty
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of M.A.</h5>
                        <p>
                            <a href="/msd/img/pdf/RECOGNITION-DETAIL.pdf" target="_blank" style="color: #333;">
                                Click here to view M.A. Faculty
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of B.Sc.</h5>
                        <p>
                            <a href="/msd/img/pdf/LIBRARY-DITAIL.pdf" target="_blank" style="color: #333;">
                                Click here to view B.Sc. Faculty
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of B.Ed.</h5>
                        <p>
                            <a href="/msd/img/pdf/ANNUAL-INTAKE.pdf" target="_blank" style="color: #333;">
                                Click here to view B.Ed.Faculty
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of D.El.Ed.</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view D.El.Ed. Faculty
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.11s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of Non Teaching Staf</h5>
                        <p>
                            <a href="/msd/img/pdf/faculties-award.pdf" target="_blank" style="color: #333;">
                                Click here to view Non Teaching Staf Faculty
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.13s">
                @* <a href="images/pdf/INSTITUTION-STATUS.pdf" target="_blank" style="color: #333;"> *@
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Faculty list of Guest/Applied Faculty List</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view Guest/Applied Faculty
                            </a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.15s">

                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">* Approval Letter</h5>
                        <p>
                            <a href="/msd/img/pdf/Income-Expenditure-2019.pdf" target="_blank" style="color: #333;">
                                Click here to view Approval Letter
                            </a>
                        </p>
                    </div>
                </div>

            </div>   
        </div>
    </div>
</div>
