
@{
    ViewData["Title"] = "BachelorofArt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>BachelorofArt</h1> *@
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">B.A. (Bachelor of Arts)</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="container">
    <h2 class="widget-title"> B.A. (Bachelor of Arts)</h2>
    <p align="justify">B.A.  (Bachelor of Arts) is an undergraduate bachelor degree program in the field of Arts. This course is basically chosen by the students who wish to pursue arts after passing the 12th class exam.</p>
    <p align="justify"><b>विषय</b> : हिंदी, अंग्रेजी, गृह विज्ञान, चित्रकला, भूगोल, अर्थशास्त्र, राजनीति विज्ञान, दर्शन शास्त्र, मनोविज्ञान, संस्कृत, शिक्षा शास्त्र, इतिहास, समाजशास्त्र</p>
    <p align="justify"><b>अर्हताये</b> : 12 पास</p>
    <p align="justify"><b>माध्यम </b>: अंग्रेजी / हिन्दी</p>
    <p align="justify"><b>अवधि </b>: 3 वर्ष</p>
    <p align="justify"><b>उपलब्ध सीट</b> : 1040</p>

    <p align="justify">Document  Required : 6 pp coloured photograph , 10th &amp; 12th Marksheet , Pass certificate (sanad) xerox attested by any Gaz. officer, original Tc / Migration , Gap certificate (in case of education gap) , caste certificate – 2 sets .</p>
</div>

