@model Model.GallaryMaster;
@using System.Data

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/baner9.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @* <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/baner90.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @*    <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/banner4.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @*  <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/banner6.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @* <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/banner8.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @*  <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/banner80.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @*  <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/bner87.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @* <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/BNERTR67.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @*   <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/bnrt89.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @* <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/msd/sliderpic/BNRTY98.jpg" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            @*  <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Welcome to</h5>
                            <h1 class="display-3 text-white animated slideInDown">छत्रपति शिवाजी M.S.D. महाविद्यालय</h1>
                            <p class="fs-5 text-white mb-4 pb-2">पाली, ललितपुर, (उ.प्र.) </p>
                            <a href="" class="btn btn-danger py-md-3 px-md-5 me-3 animated slideInLeft txtbackground">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>.
    <marquee direction="left" class="LatestNews">Admission Open For 2025-2026 In for Course B.A., B.Sc., M.A.</marquee>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Our Class</h5>
                        <p>
                            we offer transformative experiences that
                            prepare you for a successful, meaningful
                            career. Whether you're passionate about
                            business, technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Certification</h5>
                        <p>
                            Our certificate programs are designed
                            for professionals, and lifelong learners who want to
                            gain practical, job-ready skills in a short amount of time.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Certified Teachers</h5>
                        <p>
                            our programs are taught by certified,
                            experienced teachers and industry professionals
                            who bring real-world knowledge
                            into every classroom.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Book Library</h5>
                        <p>
                            With a vast collection of physical
                            and digital resources, quiet study
                            areas, and helpful staff, the library
                            is here to help you research, learn,
                            and succeed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/FOUNDER.jpg" alt="" style="object-fit: cover;">
                </div>
                <span class="imgfounder"> एड. श्री विजय सिंह निरंजन</span>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to C.S.M.S.D.M.PALI</h1>
                <p class="mb-4">
                    <b>संस्थापक का संदेश</b>
                </p>
                <p class="mb-4">
                    अपने विचारों को बदलो। अपना जीवन बदलें । .

                    गुणवत्तापूर्ण उच्च शिक्षा प्राप्त करने वाले छात्रों में कॉलेज सबसे पसंदीदा है। बुनियादी ढांचे और शिक्षाशास्त्र में बनाए रखा वैश्विक मानक सराहनीय है। उत्तेजक और चुनौतीपूर्ण सीखने का माहौल कॉलेज को अद्वितीय बनाता है।.

                    शिक्षाविदों में क्षमता के साथ-साथ साझा मानवता की भावना और सामूहिक भलाई के लिए काम करने की इच्छा जो छात्रों का विकास करती है, सामाजिक, नैतिक और आध्यात्मिक मूल्यों की खेती पर जोर देने की गवाही देती है।.

                    हम पिछले वर्षों के दौरान पाठ्यचर्या के साथ-साथ सह-पाठयक्रम गतिविधियों में कई उपलब्धियों के लिए प्रधानाचार्य, कर्मचारियों और छात्रों को बधाई देते हैं। हम कामना करते हैं कि संस्थान उत्कृष्टता के केंद्र के रूप में और अधिक विकसित हो।..
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2 txtbackground txtcolor border-0">Read More</a>
            </div>
        </div>
    </div>
</div>
<!--Courses Start-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Our Mission</h5>
                        <p>The college with its motto "Art of Learning" has been serving the society in the field of education. Today it stands as a 'Repository of learning' and a patron of 'Quality Consciousness' devoted to fostering knowledge, self-discovery, human dignity and integrity.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Our Vision</h5>
                        <p>Our Vision is to see beyond the narrow walls of the classrooms and textbooks and promote out of the box thinking to empower every student to master the challenges of today and shape the worlds of tomorrow.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Special Award</h5>
                        <p>A special award (consistent effort) will be given to students for showing improvement in academics throughout the academic year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Courses End-->
<!--College About Start-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/About College.jpg" alt="" style="object-fit: cover;">
                </div>
                @* <span class="imgfounder"> एड. श्री विजय सिंह निरंजन</span> *@
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About College</h6>
                <h1 class="mb-4">छत्रपति शिवाजी M.S.D. महाविद्यालय, पाली, ललितपुर, (उ.प्र.)</h1>
                <p class="mb-4">
                    <b>Colleg Code : 598</b>
                </p>
                <p class="mb-4">
                    छत्रपति शिवाजी M.S.D. महाविद्यालय, पाली, ललितपुर, में स्थित प्रसिद्ध डिग्री कॉलेज में से एक है, कॉलेज में स्नातक में सभी विषयों के प्रमुख कोर्स B.A. (हिंदी, अंग्रेजी, गृह विज्ञान, चित्रकला, भूगोल, अर्थशास्त्र, राजनीति विज्ञान, दर्शन शास्त्र, मनोविज्ञान, संस्कृत, शिक्षा शास्त्र, इतिहास, समाजशास्त्र ), B.Sc. (मैथ्स ग्रुप और बायोग्रुप), M.A. ( समाजशास्त्र, गृह विज्ञान, इतिहास ) छत्रपति शिवाजी M.S.D. महाविद्यालय, पाली, ललितपुर नकल विहीन व शैक्षणिक वातावरण, छात्रों के लिए दिया गया है महाविद्यालय में विज्ञान और मनोविज्ञान प्रयोगशाला और कंप्यूटर प्रयोगशाला और पुस्तकालय की सुविधाएं छात्र छात्राओं को दी जाती हैं हमारे यहां स्मार्ट क्लासेस की भी सुविधा उपलब्ध है महाविद्यालय का परिसर प्रदूषण मुक्त और पर्यावरण अनुकूल है जहां छात्र छात्राओं को के लिए स्पोर्ट्स ग्राउंड की भी सुविधा उपलब्ध है
                </p>
                @* <div class="row gy-2 gx-4 mb-4"> *@
                @*     <div class="col-sm-6">  *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                @*      </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                @*     </div> *@
                @*     <div class="col-sm-6"> *@
                @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                @*     </div> *@
                @* </div> *@
                @* <a class="btn btn-primary py-3 px-5 mt-2 txtbackground txtcolor border-0">Read More</a> *@
            </div>
        </div>
    </div>
</div>
<!--College About End-->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    @* <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s"> *@
                    @*     <a class="position-relative d-block overflow-hidden" href=""> *@
                    @*         <img class="img-fluid" src="img/cat-1.jpg" alt=""> *@
                    @*         <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;"> *@
                    @*             <h5 class="m-0">Web Design</h5> *@
                    @*             <small class="text-primary">49 Courses</small> *@
                    @*         </div> *@
                    @*     </a> *@
                    @* </div> *@
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="~/msd/img/cat-2.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">B. Ed</h5>
                                <small class="text-primary">100 SEATES</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="~/msd/img/cat-3.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0"> D.El.Ed</h5>
                                <small class="text-primary">100 SEATES</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/cat-4.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">M.Sc</h5>
                        <small class="text-primary">100 SEATES</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Categories end -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Popular Courses</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/course-1.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end txtbackground txtcolor border-0" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 txtbackground txtcolor border-0" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-1">
                        <h3 class="mb-0">B.Sc</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-0">Bachelor of Science</h5>
                        <h6 class="mb-3">(3 years course)</h6>
                    </div>
                    @* <div class="d-flex border-top"> *@
                    @*     <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> *@
                    @*     <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> *@
                    @*     <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> *@
                    @* </div> *@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/course-2.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end txtbackground txtcolor border-0" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 txtbackground txtcolor border-0" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-1">
                        <h3 class="mb-0">B.A.</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-0">Bachelor of Arts</h5>
                        <h6 class="mb-3">(3 years course)</h6>
                    </div>
                    @* <div class="d-flex border-top"> *@
                    @*     <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> *@
                    @*     <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> *@
                    @*     <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> *@
                    @* </div> *@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/course-3.jpg" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end txtbackground txtcolor border-0" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 txtbackground txtcolor border-0" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-1">
                        <h3 class="mb-0">M.A.</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div>
                        <h5 class="mb-0">Master of Arts</h5>
                        <h6 class="mb-3">(2 years course)</h6>
                    </div>
                    @* <div class="d-flex border-top"> *@
                    @*     <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> *@
                    @*     <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> *@
                    @*     <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> *@
                    @* </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
            <h1 class="mb-5">OUR EXPERIENCED STAFF & ACHIVMENTS</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/guru.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">श्री गुरु नारायण सिंह</h5>
                        <small>प्राचार्य</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/imgsgh2.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">कॉलेज में ध्वजारोहण </h5>
                        @*  <small>Designation</small> *@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/samaroh1.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">कॉलेज में आयोजित प्रशिक्षण शिविर </h5>
                        @* <small>Designation</small> *@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/msd/img/flinglm.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1 txtbackground txtcolor border-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">कॉलेज में स्मार्टफोन का वितरण</h5>
                        @*  <small>Designation</small> *@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Gallery Start-->
@* <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            @* <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6> *@
            <h1 class="mb-5">Our Gallery</h1>
        </div>
        <div class="row g-4">
            @{
                double baseDelay = 0.1;
                int index = 0;
            }
            @if (Model != null)
            {
                if (Model.dt != null && Model.dt.Rows.Count > 0)
                {
                    foreach (DataRow dr in Model.dt.Rows)
                    {
                        string delayStr = $"{baseDelay + (index * 0.2):0.0}s";

                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="@delayStr" style="visibility: visible; animation-delay: @delayStr; animation-name: fadeInUp;">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="@dr["IMAGE"]" alt="" style="height:200px;width:100%;">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                </div>
                                <div class="text-center p-4">
                                </div>
                            </div>
                        </div>

                        index++;
                    }
                }
            }
        </div>
    </div>
</div> *@
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Ritesh</h5>
                <p>Student</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Vaibhav</h5>
                <p>Student</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Sachin</h5>
                <p>Student</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Shivam</h5>
                <p>Student</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial End -->
<script src="~/customjs/indexjs.js"></script>


