
@{
    ViewData["Title"] = "ManagerMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>ManagerMessage</h1> *@

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Manager Message</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


@* <h1>FounderMessage</h1> *@

<!-- Manager Message Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/MANAGER.jpg" alt="" style="object-fit: cover;">
                </div>
                <span class="imgfounder"> श्री अवधेश दीक्षित</span>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Manager Message</h6>
                <h1 class="mb-4">MANAGER  </h1>
                <p class="mb-4">
                    <b>Phone- <br />  Email-csmsdpali@gmail.com</b>
                </p>
                <p class="mb-4">
                    The maintenance of law and order is very important for the smooth functioning of the College especially for a conducive academic atmosphere in the Campus. This task has been assigned to the Proctorial Wing of the College which has following mandate for the accomplishment of the said purpose.

                </p>
                <div class="row gy-2 gx-4 mb-4">
                   
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--Manager Message End -->
