
@{
    ViewData["Title"] = "PrincipalMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Principle Message</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


@* <h1>FounderMessage</h1> *@

<!-- PRINCIPAL Message Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/msd/img/guru.jpg" alt="" style="object-fit: cover;">
                </div>
                <span class="imgfounder"> श्री गुरु नारायण सिंह</span>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Principle Message</h6>
                <h1 class="mb-4">PRINCIPAL </h1>
                <p class="mb-4">
                    <b>Phone- +91 9415166391<br />  Email-ismsdjakhlaun@gmail.com</b>
                </p>
                <p class="mb-4">
                    शिक्षा पायी हर्म की अवमानना को चरितार्थ करता महाविद्यालय विभिन्न अंतरानुशासनिक पवक्रम का संचालन करता है । यह महाविद्यालय इस क्षेत्र में विद्यार्थियों में गुणवत्तापूर्ण शिक्षा के प्रसार का सामना कर पाए इस सभी वाहयक्रम प्ररोन अध्ययन प्रक्रिया की दृष्टि से विद्यार्थी केंद्रित चानिमामय र पक्षी की भीका सयम है जिसमें अरव शिक्षा में बाधा पड़ती है। अतः इसके द्वारा पह कौशिश कोना है किरच्च शिक्षा के दायरे में ज्यादा से ज्यादा लोगों को शामिल किया जाए।
                    प्रत्येक पाठ्यक्रम का संचालन पाठ बतावणी की समन, भाग्य एवं स्व-अभिराम के सीन में तैयार करने का प्रणाम कियाचायामा श्री गौगिकी की प्रयोग हुआ इसे सनी मूलध की जमाने की कोशिश की गई है। यह विशेय सम से ध्यान में एक यापैकि एवं कालवक्रमी एक ऐमा अनमा दिन आए तो भविष्य में व्यावसायिक सफलता की लिलए मददगार हो । हिंदी में मोलिक एवं वैकल्पिक सोच हेतु प्रतिवद्ध महाविद्यालय यह प्रयास करेगा कि एक और उच्च शिक्षा द्वारा हिंदी एवं विभिन्न अंतरानुशासनिक विषयों में सृजन को बढ़ावा मिल साधी दूसरी हिंदी भाषा के माध्यम से रोजगारोन्मुख पाठ्यक्रमों की आम जन तक पहुंचाया जा सके।
                    इसकी विभिन्न पाठ्यक्रमों का एक उद्देश्य यह भी है कि विद्यार्थी समाज में विद्यमान समस्याओं के प्रति गहन आलोचनात्मक दृष्टिकोण विकसित करें और उनके सृजनात्मक समाधान के लिए भी प्रयासरत हो । महाविद्यालय की माध्यम से ज्ञान की नवीनतम अनुशासनों की शिक्षा समाज के हर तबके विशेष तौर पर समाज शिए पर यह हे (दिवासी समान शिक्षा से बचित लोगों तक पहुंचाना है। महाविद्यालय और कर्मचारियों की और से भैंस भी विद्यार्थियों का स्वागत करता है एवं रोजगार परक क्रमों में प्रति के लिए शुभकामनाएं देता है।
<br />
                    <br />

                    प्राचार्य<br />
                    छत्रपति शिवाजी M.S.D. महाविद्यालय,<br />
                    जाखलौन (ललितपुर) .<br />

                </p>
                <div class="row gy-2 gx-4 mb-4">
                    @*     <div class="col-sm-6"> *@
                    @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                    @*     </div> *@
                    @*     <div class="col-sm-6"> *@
                    @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                    @*     </div> *@
                    @*     <div class="col-sm-6"> *@
                    @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                    @*     </div> *@
                    @*     <div class="col-sm-6"> *@
                    @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p> *@
                    @*     </div> *@
                    @*     <div class="col-sm-6"> *@
                    @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p> *@
                    @*     </div> *@
                    @*     <div class="col-sm-6"> *@
                    @*         <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p> *@
                    @*     </div> *@
                    @* </div> *@
                    @* <a class="btn btn-primary py-3 px-5 mt-2 txtbackground txtcolor border-0">Read More</a> *@
                </div>
            </div>
        </div>
    </div>
</div>
    <!--PRINCIPALMessage End -->
