<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Chhatrapati Shivaji MSD College, Pali, Lalitpur   |</title>
    <!-- Favicon -->
    <link href="~/msd/img/favicon.ico" rel="icon">
    <link rel="shortcut icon" href="~/msd/logo/logo1.png">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/msd/lib/animate/animate.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/msd/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/msd/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Template Stylesheet -->
    <link href="~/msd/css/style.css" rel="stylesheet" asp-append-version="true">
   
</head>
<body>
   
         <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    @* Upper Header  *@
    <div class="py-2" style="background:#fbecec">
        <div class="container-fluid">
            <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md-5 pr-4 d-flex topper align-items-center ps-md-5 ps-0" style="padding-left:60px;">
                            <div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center">
                                <i class="fa fa-university" style="margin-right:6px"></i>
                            </div>
                            <span class="text txtheader-text F-14">छत्रपति शिवाजी M.S.D. महाविद्यालय  पाली, ललितपुर, (उ.प्र.)</span>
                        </div>
                        <div class="col-sm-2 pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center">
                                <i class="fa fa-envelope" style="margin-right:6px"></i>
                                </div>
                            <span class="text txtheader-text F-14"> csmsdpali@gmail.com</span>
                        </div>
                        <div class="col-sm-2 pr-2 d-flex topper align-items-center">
                            <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center">
                                <i class="fa fa-phone-alt me-3" style="margin-right:6px"></i>
                                </div>
                            <span class="text txtheader-text F-14">+91 9415166391</span>
                        </div>
                        <div class="col-sm-3">
                            <span id="Timer" class="txtheader-text F-14"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><img src="~/msd/logo/logo1.png" style="height:70px;width:70px;" /></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/Home/index" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About Us</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Home/AboutUs" class="dropdown-item">Our College</a>
                        <a href="/Home/FounderMessage" class="dropdown-item">Founder Message</a>
                        <a href="/Home/PrincipalMessage" class="dropdown-item">Princple Message</a>
                        <a href="/Home/ManagerMessage" class="dropdown-item">Manager Message</a>
                        <a href="/Home/Managementcommittee" class="dropdown-item">Management commmittee</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Courses</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Home/BachelorofArt" class="dropdown-item">B.A.</a>
                        <a href="/Home/BachelorofScience" class="dropdown-item">B.Sc.</a>
                        <a href="/Home/MasterofArt" class="dropdown-item">M.A.</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Academics</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Home/AcademicDetails" class="dropdown-item">Academics Details</a>
                        <a href="/Home/AcademicCalender" class="dropdown-item">Academics Calender</a>
                        <a href="/Home/AcademicStaff" class="dropdown-item">Academics Staff</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Students</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Home/FeeDetails" class="dropdown-item">Fee Details</a>
                        <a href="/Home/ListofStudents" class="dropdown-item">List of Student</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Facilities</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Home/CollegeFacilities" class="dropdown-item">College Facilities</a>
                        <a href="/Home/CollegeActivities" class="dropdown-item">College Activities</a>
                        <a href="/Home/NationalServicesScheme" class="dropdown-item">N.S.S</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">GALLERY</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Home/CollegeGallery" class="dropdown-item">College Gallery</a>
                        <a href="/Home/GalleryVideo" class="dropdown-item">College Video</a>
                    </div>
                </div>
                <a href="/Home/ContactUs" class="nav-item nav-link">Contact</a>
                <a href="/Login/Login" class="nav-item nav-link">Login</a>
            </div>
            <a onclick="LunchInquery()" style="background-color:#ff3115; color:#ffffff" class="btn py-4 px-lg-5 d-none d-lg-block">Inquery<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
            @RenderBody()
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="/Home/AboutUs">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>छत्रपति शिवाजी M.S.D. महाविद्यालय, घटवार रोड नगर पंचायत, पाली,ललितपुर, (उ.प्र.) 284403</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> +91 9415166391 </p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>csmsdpali@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">View on Map</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-12">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.152097725242!2d75.78989931488835!3d26.91243338312233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db5cf6b705d63%3A0x4fcfdb7f614dc522!2sYour%20College%20Name!5e0!3m2!1sen!2sin!4v1624871635076!5m2!1sen!2sin"
                                        width="100%"
                                        height="200"
                                        style="border:0;"
                                        allowfullscreen=""
                                        loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Subscribe US!</h4>
                    <p>Submit your email to get latest update.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2 txtbackground txtcolor border-0">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">MSD College Pali Lalitpur</a>, All Right Reserved.
                        @* Designed By <a class="border-bottom" href="#">HTML Codex</a><br><br> *@
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top txtbackground txtcolor border-0"><i class="bi bi-arrow-up"></i></a>



    <!-- Button inquery modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Fill Details</h5>
                </div>

                <div class="modal-body">
                    <form id="inquiryForm">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" onkeydown="return /[a-z ]/i.test(event.key)" placeholder="Enter your name">
                        </div>

                        <div class="form-group">
                            <label for="inputMobile">Mobile</label>
                            <input type="tel" class="form-control" id="inputMobile" maxlength="10" oninput="ValidationJS.checkCurrency_Numeric('inputMobile');" placeholder="Enter your mobile number">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                        </div>

                        <div class="form-group">
                            <label for="inputCourse">Course</label>
                            <select class="form-control" id="inputCourse">
                                <option value="" selected>Select a course</option>
                                <option value="1">B.A.</option>
                                <option value="2">B.SC.</option>
                                <option value="3">M.A.</option>
                                <option value="4">B.ED.</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary txtbackground txtcolor border-0" data-dismiss="modal" onclick="HideLunchInquery()">Close</button>
                    <button type="button" class="btn btn-primary txtbackground txtcolor border-0" onclick="EnqueryJS.SaveEnqueryDetails(this,1)">Submit</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Button inquery modal end-->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/msd/lib/wow/wow.min.js" asp-append-version="true"></script>
    <script src="~/msd/lib/easing/easing.min.js" asp-append-version="true"></script>
    <script src="~/msd/lib/waypoints/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/msd/lib/owlcarousel/owl.carousel.min.js" asp-append-version="true"></script>
    <!-- Template Javascript -->
    <script src="~/msd/js/main.js" asp-append-version="true"></script>
    <script src="~/customjs/layoutjs.js" asp-append-version="true"></script>
    <script src="~/customjs/validationjs.js" asp-append-version="true"></script>
    <script src="~/customjs/enqueryjs.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
